{% extends 'web/base.html'%}
{% load static%}

{%block contenido%}


    <section class="noticias">
        <div class="card">
            <img src="{% static 'img/Noticias/Noticia1.jpg' %}" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Guía del primer auto ¿Qué debo tener al salir de automotora?...</b></h4>
              <p>Estos son los trámites y requisitos que debes realizar al comprar tu primer auto. Solo así podrás sacarlo de la automotora.</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/Noticias/Noticia2.jpg' %}" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>¿Cómo saber a nombre de quién está un auto?...</b></h4>
              <p>Si estás pensando en adquirir un vehículo, te contamos cómo saber a nombre de quién está un auto, así como otros datos que debes considerar.</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/Noticias/Noticia3.jpg' %}" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Los tipos de mantención flexible que tiene DriveNation...</b></h4>
              <p>Derco Center te ofrece 3 paquetes de mantención flexible que se adaptan a tu tiempo y necesidades. Conócelos.</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/Noticias/Noticia4.jpg' %}" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>¿Qué significa que un auto esté en prenda?...</b></h4>
              <p>Descubre lo que significa que un auto esté en prenda, cómo puedes saber si se encuentra en esta condición y qué ocurre si compras o vendes un auto en ...</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/Noticias/Noticia5.jpg' %}" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>8 accesorios de autos que son indispensables...</b></h4>
              <p>Los accesorios de autos son elementos que pueden ayudarte en situaciones de apuro. Descubre 8 de los accesorios más importantes.</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/Noticias/Noticia6.jpg' %}" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>7 consejos para personas con autos nuevos...</b></h4>
              <p>Comprar autos nuevos es una inversión importante y emocionante. Descubre cómo cuidar de tu nuevo vehículo para prolongar su vida.</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/Noticias/Noticia7.jpg' %}" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Barras porta carga, un accesorio de auto ideal para tus viajes...</b></h4>
              <p>Conoce las funciones de este accesorio de auto y consejos para usarlo de manera segura en tus próximas vacaciones.</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/Noticias/Noticia8.jpg' %}" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>¡No pierdas tu tiempo! Agenda tu mantención automotriz online...</b></h4>
              <p>En DriveNation nos preocupamos de tu comodidad y tiempo. Conoce nuestros servicios de mantención automotriz con agendamiento online.</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/Noticias/Noticia9.jpg' %}" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Conoce que significan los testigos de mi auto...</b></h4>
              <p>¿Sabías que los testigos de auto pueden indicar fallas? A través de ellos el vehículo comunicará algunos problemas, conocerlos te ayudará a prevenir.</p>
            </div>
        </div>
        
    </section>
{%endblock%}